{% include "./extended/header.html" %}
<br>
<div class="container">
    <div class="jumbotron">
        <form method="POST">
        <h4>Fill the fields to create new item:</h4>
        <label for="">Item's Name: </label>
        <input type="text" name='item_name'></input>
        <hr>
        <h5><span>Category:  </span><a>{{category.category_name}}</a></h5>
        <label > Description: </label>
        <input type='textarea' name="item_description" style="width:900px; height:100px;"></input>
        <hr>
            <button href="/" role='button' class="btn btn-secondary btn-success">Submit</button>
        </form>
    </div>
</div>

{% include "./extended/footer.html" %}