{% include "./extended/header.html" %}

<div class="container">
        <div class="jumbotron">
            <h1>{{category.category_name}}</h1>
                <nav class="nav flex-column">
                    {% for item in items: %}
                    <li>
                        <a href= {{ url_for('render_item_page', category_id = item.category_id, item_id = item.id) }}>{{item.item_name}}</a>
                    </li>
                    {% endfor %}  
                </nav>
        </div>              
</div>





{% include "./extended/footer.html" %}